<div>
    <h1>
        Welcome to {{title}}!
    </h1>
    <nav mat-tab-nav-bar mat-align-tabs="center">
        <a mat-tab-link routerLink="/route1">Rout1</a>
        <a mat-tab-link routerLink="/route2">Rout2</a>
        <a mat-tab-link routerLink="/">Home</a>
        <a mat-tab-link href="/api" target="_blank">API</a>
    </nav>
    <mat-list>
        <h3 mat-subheader>Logs</h3>
    <mat-list-item *ngFor="let log of logs">
        <h4 mat-line>Topic: {{log.topic}}</h4>
        <p mat-line> Challenge Name: {{log.challengeName}} </p>
        <p mat-line> Challenge Type: {{log.challengeType}} </p>
        <p mat-line> challenge Prizes: {{log.challengePrizes}} </p>
        <p mat-line *ngIf="log.firstName&&log.lastName"> User Name: {{log.firstName}} {{log.lastName}} </p>
        <img src="{{log.photoURL}}" *ngIf="log.photoURL">
    </mat-list-item>
    </mat-list>
</div>
<router-outlet></router-outlet>